@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-clr: #32584d;
  --secondary-clr: #577a5d;
  --teriary-clr: #252113;
  --accent-clr: #ffd7a8;
  --white-clr: ;
}

/* #152100 */
/* #001100 */

/* #434939 */
/* #a8ae9c */

/* #1c2c00 */

/* #ffcd93 */

/* #ec975f */

/* #b0632f */

body {
  font-family: "DM Sans", serif;
  animation: fadeIn 0.4s ease-in-out;
  color: var(--teriary-clr);
}

h1 {
  font-family: "Prata", serif;
}

.underline-effect {
  background-image: linear-gradient(120deg, #fff 0%, #ffd7a8 150%);
  background-repeat: no-repeat;
  background-size: 100% 0.15em;
  background-position: 0 98%;
}

@media (max-width: 800px) {
  .underline-effect {
    background-image: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
